/** INITIALISATION **/

body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}



/** CSS des balises principales **/

.reception {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75%;
}

.select {
    display: flex;
    justify-content: space-around;
    border: solid #000 1px;
}

.hidden {
    display: none;
}

.show {
    display: grid;
    grid-template: 100% / 50% 50%;
    border: solid #000 1px;
}



/** CSS des sous balises **/

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

.center {
    grid-column: 1 / 3;
}

.left, .right, .center {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.select button {
    width: 100%;
    height: 100%;
    padding: 20px;
}



/** CSS des éléments à gauche **/

.left img {
    width: 50%;
    height: 50%;
}

.left .custom_character {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.left .custom_character img {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1 / 4;
}

.left .left_up, .left .left_down, .left .right_up, .left .right_down {
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: scale(0.75);
}

.left .left_up {
    grid-column: 1;
    grid-row: 1;
}

.left .left_down {
    grid-column: 1;
    grid-row: 3;
}

.left .right_up {
    grid-column: 3;
    grid-row: 1;
}

.left .right_down {
    grid-column: 3;
    grid-row: 3;
}

.left .left_up::before, .left .left_down::before {
    content: '<';
}

.left .right_up::before, .left .right_down::before {
    content: '>';
}



/** CSS des éléments à droite **/

.right label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right label p span {
    border: solid #000 1px;
    border-radius: 50%;
    padding: 3px;
}

.right label input {
    width: 100%;
}

.right nav {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.right nav button {
    margin: 10px;
}



/** CSS des éléments au centre **/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center a {
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    color: #000;
    border: solid #000 1px;
    border-style: ridge;
}



/** CSS du bouton de compte **/

.account {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}



/** CSS de l'aide **/

.help {
    position: absolute;
    background-color: #888;
    border: solid #444 3px;
    font-size: 0.75em;
}